$btn: #067F38;
$white: #FFFFFF;
$warn-green: #6EB329;
$black-font: #222222;
$background-green: linear-gradient(90deg, rgba(110,179,41,0.4) 0%, rgba(110,179,41,0.4) 100%);
$dark: #122730;
$step-text: #6C6C6C;
$footer-bg: #333333;
$link: #A4A4A4;
$plus: #B1B1B1;
$input-bg: #F1F1F1;
$dashboard-bg: #122730;
$count-text: #6D6D6D;
$benifits-bio:#636566;
$notification-br: #D9D9D9;
$read: #989898;
$plan-bg: #E2F6FF;
$coupon-br: #E6E6E6;
$rejected: #B44040;
$try-btn: #787878;
$lead-input: #FAFAFA;
$lead-label: #272727;
$black: #000000;
$contact-bg: #C5E1A9;
$create-img-bg: #E4F3D5;

$greenish-white: #7bb894;