// Border-Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin mediaquery($size) {
  @if $size==small-mobile {
    @media (min-width: 425px) {
      @content;
    }
  }

  @else if $size==mobile-landscape {
    @media (min-width: 560px) {
      @content;
    }
  }

  @else if $size==tablet-view {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $size==tabletLarge-view {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $size==laptop-view {
    @media (min-width: 1024px) {
      @content;
    }
  }

  @else if $size==desktop-view {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $size==large-desktop-view {
    @media (min-width: 1400px) {
      @content;
    }
  }

  @else if $size==xxl-desktop-view {
    @media (min-width: 1650px) {
      @content;
    }
  }

  @else if $size==extra-large-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

// Positions
@mixin position ($position, $top:auto, $right:auto, $bottom:auto, $left:auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Position-absolute
@mixin absolute ($top:auto, $right:auto, $bottom:auto, $left:auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

// Position-fixed
@mixin fixed ($top:auto, $right:auto, $bottom:auto, $left:auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: fixed;
}

//  Mixin for after and before
@mixin after($width, $height) {
  content: '';
  width: $width;
  height: $height;
}

@mixin justify() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin column() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin underline() {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
}

//font size
@function calculateRem($size) {
  $remSize: calc($size / 16px);
  @return #{$remSize}rem;
}

@mixin fontsize($size) {
  font-size: calculateRem($size);
}

// Width and Height
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

//Single side border
@mixin border-top ($border-width, $border-style, $border-color) {
  border-top: $border-width $border-style $border-color;
}

@mixin border-right ($border-width, $border-style, $border-color) {
  border-right: $border-width $border-style $border-color;
}

@mixin border-bottom ($border-width, $border-style, $border-color) {
  border-bottom: $border-width $border-style $border-color;
}

@mixin border-left ($border-width, $border-style, $border-color) {
  border-left: $border-width $border-style $border-color;
}